<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-body-text">
	<div id="homeBtn" class="palm-header">PreBook by John Spahr</div>
	<br><br><br>
	<div id="menuBtn" x-mojo-element="Button"></div>
	<br>
	<div id="browser" x-mojo-element="WebView"></div>
	<br>
	<div class="palm-text">Tip: Tap on the bar at the top of the screen to go home.</div>
	<br>
	<div id="chatBtn" x-mojo-element="Button"></div>
	<div id="alertsBtn" x-mojo-element="Button"></div>
	<div id="groupsBtn" x-mojo-element="Button"></div>
	<div id="profileBtn" x-mojo-element="Button"></div>
	<br><br>
	<img src="logo.png">
	<br><br><br>
</div>
