<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-body-text">
	<div id="myHeader" class="palm-header">What's New</div>
	<br><br><br>
	<div class="palm-text">Version 1.4.0 (8/27/2019)</div>
	<br>
	<div class="palm-body-text">-Added some new shortcuts.</div>
	<div class="palm-body-text">-Added the "What's New" page.</div>
	<div class="palm-body-text">-Made some design improvements.</div>
	<div class="palm-body-text">-Fixed some bugs.</div>
	<br><br>
	<div class="palm-text">Created by John Spahr.</div>
	<br><br><br>
	<img src="logo.png" />
	<br><br><br>
</div>
