<div class="palm-body-text">
    <div id="myHeader" class="palm-header">What's New</div>
    <br><br><br>
    <div class="palm-text"><b>Version 1.6.0 "New Life"</b> (Released April 2021)</div>
    <br>
    <ul>
        <li>
            <div class="palm-body-text">Fixed some scaling issues on newer webOS devices.</div>
        </li>
        <li>
            <div class="palm-body-text">New icon!</div>
        </li>
        <li>
            <div class="palm-body-text">UI tweaks and improvements.</div>
        </li>
    </ul>
    <br>
    <div class="palm-text">Created by John Spahr (JohnSpahr), icon and auto updater by Jon Wise (codepoet80)</div>
    <br>
    <div id="closeBtn" class="palm-button">Close</div>
    <br>
</div>