<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-body-text">
    <div id="myHeader" class="palm-header">What's New</div>
    <br><br><br>
    <div class="palm-text">Version 1.5.2 "Drift" (Released May 2020)</div>
    <br>
    <div class="palm-body-text">- Added some new shortcuts.</div>
    <div class="palm-body-text">- Introduced navigation buttons.</div>
    <div class="palm-body-text">- Improved the application menu and added some new options.</div>
    <div class="palm-body-text">- Added a loading spinner.</div>
    <div class="palm-body-text">- Increased font size.</div>
    <div class="palm-body-text">- Made some other improvements to the user interface.</div>
    <div class="palm-body-text">- Fixed some bugs.</div>
    <br><br>
    <div class="palm-text">Created by John Spahr.</div>
    <br><br><br>
    <img src="logo.png" />
    <br><br><br>
</div>